html {
    --c1: #00a6ef;
    --c2: #ed0044;
    --c3: #f9e925;
    --c4: #102d3f;
    --c5: #f7f7f7;
}
h1 {
    font-family: "Montserrat", sans-serif !important;
    font-weight: bold;
    color: black;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c5);
    background-image: linear-gradient(
            45deg,
            #f1f1f1 25%,
            transparent 25%,
            transparent 75%,
            #f1f1f1 75%,
            #f1f1f1
        ),
        linear-gradient(
            45deg,
            #f1f1f1 25%,
            transparent 25%,
            transparent 75%,
            #f1f1f1 75%,
            #f1f1f1
        ),
        linear-gradient(
            45deg,
            transparent,
            transparent 50%,
            #f2f2f2 50%,
            #f2f2f2
        );
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px, 50px 0px;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    from {
        background-position: 0 0, 50px 50px, 50px 0;
    }
    to {
        background-position: -100px -100px, -50px -50px, -50px -100px;
    }
}
